* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(0, 0, 0);
}


.kaartje {
  border: 4px solid rgb(3, 2, 2);
  border-radius: 50px;
  display: relative;
  justify-content: center;
  height: 600px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
  background-image: url('../assets/gear-5-monkey-d-1920x1200-17522.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
}

.pages {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
  padding: 50px;
  margin: 50px 0;
  font-weight: bold;
  font-size: large;
  text-align: center;

}


.wiebenik {
  width: 60%;
  margin: 20px;
  top: 20px;
  cursor: pointer;

}

.mijnervaring {
  width: 60%;
  margin: 20px;
  cursor: pointer;
}

.hobby {
  width: 60%;
  margin: 20px;
  cursor: pointer;
}

.home {
  width: 60%;
  margin: 20px;
  cursor: pointer;
}

.containerimg {
  display: flex;
  justify-content: center;
}

.foto1 {
  width: 30%;
  clip-path: circle(40%);
}

.image {
  height: 800px;
  width: 800px;
}

.lijst {
  margin-bottom: 50px;
  text-align: center;
}

.lijst2 {
  margin-bottom: 50px;
  text-align: center;
}

.lijst3 {
  margin-bottom: 50px;
  text-align: center;
}

